# Environnement virtuel
.venv
venv

# Cache Python
__pycache__/
*.pyc

# Dossier et fichier de pré-prod et test
preproduction
temp_validity.json
local_analysis.json
*.duckdb

# Configs locales
*.DS_Store
*.env

# IDE
.vscode/
.idea/

