/* assets/style.css */
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 0.9em;
    padding: 20px 10px;
    border-top: 1px solid #444;
}
a {
    color: #FCC02D !important;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#talkbubble {
  width: 140px;
  height: auto;
  background: white;
  color: #070D0C;
  padding: 10px;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#talkbubble:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #4C7364; /* vert logo */
  border-bottom: 13px solid transparent;
}


/*
Les couleurs du logo :
Noir : #070D0C
Vert : #4C7364
Beige clair : #D9CCA7
Marron foncé : #594A2D
Marron clair : #BFB093
*/