/* assets/style.css */
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 0.9em;
    padding: 20px 10px;
    border-top: 1px solid #444;
}
a {
    color: #FCC02D !important;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


/*
Les couleurs du logo :
Noir : #070D0C
Vert : #4C7364
Beige clair : #D9CCA7
Marron foncé : #594A2D
Marron clair : #BFB093
*/